body {
  margin: 0;
  padding: 0;
  background: url(./bodybg.jpg);
  font-size: 16px; /* Add this to set the base font size */
  font-family: "Poppins", sans-serif;
}

header {
  padding: 10px;
  display: flex;
  justify-content: space-evenly;
  background: url(./headerbg.jpg);
}

header span h2 {
  display: flex;
  position: relative;
  padding: 0;
  margin: 0;
  top: 5px;
  left: 20px;
}

header nav {
  display: flex;
  flex-direction: row;
  margin: 0 10px;
  padding: 10px;
}

header nav a {
  margin: 0 10px;
  text-decoration: none;
  color: rgb(25, 25, 25);
}

main {
  position: relative;
  z-index: 1;
  margin: 0 auto;
  max-width: 900px;
  text-align: center;
  width: 100%;
  height: 80vh;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  top: 40px;
}

.card-img-overlay {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.card-img-overlay h1,
.card-img-overlay h2,
.card-img-overlay button {
  color: #000000; /* Set text color to white or any other suitable color */
}

.card-img-overlay h1 {
  font-size: 3em;
  font-family: "Marcellus", serif;
  top: 10px;
}

.card-img {
  width: 100%;
  height: 80vh;
}

/* Add media queries for different screen sizes */
@media screen and (max-width: 350px) {
  body {
    font-size: 14px; /* Adjust base font size for smaller screens */
  }

  header nav a {
    font-size: 12px; /* Adjust font size for smaller screens */
  }

  .card-img-overlay h1 {
    font-size: 2em;
  }

  .card-img-overlay h2 {
    font-size: 12px;
  }
}
